console_title_template = '{{ .Folder }}'
version = 4
final_space = true

[palette]
  green = '#a6d189'
  red = '#e78284'
  surface0 = '#414559'
  surface1 = '#51576d'
  surface2 = '#626880'
  teal = '#81c8be'
  yellow = '#e5c890'

[secondary_prompt]
  template = '❯❯ '
  foreground = 'p:green'
  background = 'transparent'

[transient_prompt]
  template = '❯ '
  background = 'transparent'
  foreground_templates = ['{{ if gt .Code 0 }}p:red{{ end }}', '{{ if eq .Code 0 }}p:green{{ end }}']

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '{{ .Icon }}  '
    foreground = 'p:teal'
    background = 'transparent'
    type = 'os'
    style = 'plain'

  [[blocks.segments]]
    template = '{{ .Path }}'
    foreground = 'blue'
    background = 'transparent'
    type = 'path'
    style = 'plain'

    [blocks.segments.options]
      style = 'agnoster_short'
      home_icon = '~'
      folder_icon = '..'

  [[blocks.segments]]
    template = ' {{ .HEAD }}{{ if or (.Working.Changed) (.Staging.Changed) }}*{{ end }} <cyan>{{ if gt .Behind 0 }}⇣{{ end }}{{ if gt .Ahead 0}}⇡{{ end }}</>'
    foreground = 'p:surface2'
    background = 'transparent'
    type = 'git'
    style = 'plain'

[[blocks]]
  type = 'prompt'
  alignment = 'right'

  [[blocks.segments]]
    template = '{{ .Env.POSH_WATSON_PROMPT }}'
    foreground = '#31b198'
    type = 'text'
    style = 'plain'

  [[blocks.segments]]
    template = '  {{ .Full }}'
    foreground = '#c24f1e'
    type = 'ocaml'
    style = 'plain'

  [[blocks.segments]]
    template = '  {{ .Full }}'
    foreground = '#7fd5ea'
    type = 'go'
    style = 'plain'

[[blocks]]
  type = 'rprompt'
  overflow = 'hidden'

  [[blocks.segments]]
    template = '{{ .FormattedMs }}'
    foreground = 'p:yellow'
    background = 'transparent'
    type = 'executiontime'
    style = 'plain'

  [[blocks.segments]]
    foreground = 'p:surface2'
    type = 'time'
    style = 'plain'

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '❯'
    background = 'transparent'
    type = 'text'
    style = 'plain'
    foreground_templates = ['{{ if gt .Code 0 }}p:red{{ end }}', '{{ if eq .Code 0 }}p:green{{ end }}']
